.Button {
    -fx-background-color: #5B84B1FF;
	-fx-background-radius: 15;
	-fx-cursor: hand;
	-fx-text-fill: white;
	-fx-pref-height: 50;
	-fx-font-size: 16;
}

.Button:hover {
    -fx-background-color: #050A30;
}

.ButtonPressed{
	-fx-background-color: #050A30;
	-fx-background-radius: 15;
	-fx-cursor: hand;
	-fx-text-fill: white;
	-fx-pref-height: 50;
}

.BigButton{
	-fx-background-color: #5B84B1FF;
	-fx-background-radius: 15;
	-fx-cursor: hand;
	-fx-text-fill: white;
	-fx-font-size: 48;

}

.BigButton:hover{
	-fx-background-color: #050A30;
}

.ButtonPressed:hover {
    -fx-background-color: #000000;
}
.text{
	-fx-font-size: 18;
}
.MediumText{
	-fx-font-size: 24;
}
.BigText{
	-fx-font-size: 50;
}
.MediumButton{
	-fx-font-size: 24;
}

.WhiteText{
   -fx-fill: white;
}


.MenuButton .label {
    -fx-text-fill: white;
}

.MenuButton{
    -fx-background-color: #5B84B1FF;
    -fx-background-radius: 15;
    -fx-cursor: hand;
}

.MenuButton:focused {
     -fx-background-color: darkgray;
}

.ComboBox{
    -fx-background-color: #5B84B1FF;
    -fx-background-radius: 15;
    -fx-cursor: hand;
    -fx-prompt-text-fill: white;
}

.MenuButton:focused .label {
    -fx-text-fill: black;
}

.BigMenuButton{
    -fx-font-size: 48;
}

.TextPadding{
    -fx-padding: 100px;
}